@font-face {
    font-family: "DIN Light";
    src: url(../fonts/DIN\ Light.ttf) format("truetype");
}

body, .ui.header {
  font-family: "din light", helvetica, arial, sans-serif;
}

/********** D3 Experiment header **********/

h1.ui.center.header {
  margin-top: 2em;
}

/********** menu-node **********/
#node-menu .menu-node {
  border: 1px solid #999999;
  border-radius: 3px;
  margin: 10px auto;
  padding: 0;
  cursor: move;
}

.menu-node > p {
  color: #ffffff;
  font-size: 1.2rem;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu-node .port {
  border-radius: 3px;
  background-color: #eeeeee;
  position: absolute;
}

/********** moving-area **********/
#moving-area {
  border: 2px solid #33aaaa;
  height: 500px;
  position: relative;
  padding: 0;
}

/********** nodes **********/
.node {
  cursor: move;
}

.port {
  border: 1px solid #999999;
}

/********** SVG nodes **********/
.port:hover {
  fill: #ddaa00;
}

#moving-area > .node > .port {
  cursor: crosshair;
}